@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#c29a5c;
   --link-color:#333;
}
a{
    text-decoration: none;
    color:#333;
}
img{
    max-width:100%;
    vertical-align: middle;
}
ul{
    list-style: none;
}

/* Common */
.pt-80{
    padding-top: 80px;
}
.pb-80{
    padding-bottom: 80px;
}
.f-left{
    float:left;
}
.f-right{
    float:right;
}
.fix:before,.fix:after{
    clear:both;
    content:"";
    display:table;
}
.sticky{
    position:fixed;
    
}
.container{
    width:1170px;
    margin:auto;
}


/* header */
.header-area{
    padding: 10px 0;
}
.header-area{
    /* position:fixed; */
    background-color: #fff;
    width:100%;
    z-index:5;
    left:0;
    right:0;
}
.header-area{
    scroll-behavior: smooth;
}
.header-area.sticky{
   
}
.header-area.sticky a{
    /* color:#fff; */
}
.logo{
    width:448px;
    text-align: left;
    left:0;
}
.logo a{
    text-transform: capitalize;
    font-size:35px;
    padding:10px 0px;
    /* line-height:32px; */
    color:#5a5a5a;
    font-weight:bolder;
}
.logo a span{
  color:#c29a5c;
}
.menu{
    width:700px;
    text-align: center;
}
.menu ul{
   padding: 10px;
}
.menu ul li{
    display:inline-block;
    margin-right: 15px;  
}
.menu ul li:last-child{
    margin-right: 0;
}
.menu ul li a{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 32px;
}
.menu ul li a:hover{
    color:#c29a5c;
}
.btn{
    padding:20px 30px;
    background-color: var(--primary-color);
    color:#f1e8d9;
    text-transform: capitalize;
    font-size:18px;
    line-height: 32px;
    font-family:"Poppins", sans-serif;
    border-radius: 5px;
    border:2px solid var(--primary-color);
    transition:.3s;
}
.btn.bg{
    padding:20px 30px;
    background-color: #fff;
    color:#c29a5c;
    text-transform: capitalize;
    font-size:18px;
    line-height: 32px;
    font-family:"Poppins", sans-serif;
    border:2px solid #c29a5c;
    border-radius: 5px;
}
.btn:hover{
    background-color: #fff;
    color:var(--primary-color);
}
.btn.bg:hover{
    background-color: var(--primary-color);
    color:#fff;
}
.btn-border{
    padding:20px 30px;
    border:2px solid #fff;
    color: #f1f1f1;;
    text-transform: capitalize;
    font-size:18px;
    line-height: 32px;
    font-family:"Poppins", sans-serif;
    border-radius: 5px;
}
/* Banner */
.banner-area{
    background-size: cover;
    background-position: center;
    position:relative;
    content:"";
    height:100vh;
}
.banner-area:before{
    position:absolute;
    content:"";
    background-color: #333;
    left:0;
    padding-top:150px 0;
    top:0;
    width:100%;
    opacity:0.4;
    height:100%;
}
.banner{
    margin-top:60px;
    text-align:left;
    position:absolute;
    width:100%;
    box-shadow: #333;
}
.banner h4{
    font-size: 80px;
    color:#fff;
    padding-bottom: 10px;
    
}
.banner p{
    font-size:24px;
    padding-bottom: 60px;
    color:#fff;
}
.banner a{
    margin-right:30px;
    font-size:22px;
}

/* about */
.about-area{}
.about{}
.about-img{
    margin-right:30px;
}
.about-content{
    width:600px;
    line-height:20px;
    text-align: left;
}
.about-content h4{
    text-transform: uppercase;
    font-size:20px;
    color:var(--primary-color);
    padding-bottom: 40px;
}
.about-content h2{
    font-size:60px;
    padding-bottom:50px;
    line-height:50px;
}
.about-content h5{
    padding-bottom:30px;
    font-size: 30px;
    line-height: 34px;
}
.about-content p{
    line-height: 34px;
    font-size: 20px;
    padding-bottom: 60px;
}
/* Service Outcome */
.service-outcome-area{
    background-size:cover;
    background-position: center;
    height:45vh;
    position:relative;
}
.service-outcome-area:before{
    content:"";
    position:absolute;
    background-color: #742426;
    width:100%;
    height:100%;
    left:0;
    top:0;
    opacity:0.9;
}
.service-outcome{
    position:absolute;
    /* background-color: reg(red,,orange); */
}
.single-outcome{
    text-align: center;
    width:292px;
    text-transform: uppercase;
}
.single-outcome h4{
    font-size:40px;
    line-height:50px;
    margin:15px 0;
    color:#fff;
}
.single-outcome p{
    font-size:20px;
    color:#fff;
}
/* Section-title */
.section-title{
    padding:30px 0;
    text-align:center;
    /* margin-bottom: 60px; */
}
.section-title h5{
    font-size:18px;
    text-transform:uppercase;
    position:relative;
    margin-bottom: 25px;
    padding-bottom: 4px;
    color:var(--primary-color);
    font-family: "Playfair Display", serif;
}

.section-title h5:before{
    width:80px;
    height:2px;
    bottom: 0;
}
.section-title h4:after{
    width:10px;
    height:10px;
    border-radius:50%;
    bottom:-4px;
    font-family: "Playfair Display", serif;
}
.section-title p{
    max-width:600px;
    margin:auto;
    /* padding: 30px 0; */
    font-size:48px;
    line-height: 58px;
    color:#fff;
    text-transform: capitalize;
    font-family: "Playfair Display", serif;
}
.services-area{
    background-color: #1a1a1a;
    margin: 50px 0;
}
.services .btn{
   background-color: #1a1a1a;
 
}
.single-service{
padding-top: 45 px;
    margin-right:15px;
    width:277px;
    font-family: "Playfair Display", serif;
}
.single-service p{
    font-size:22px;
    color:#fff;
    text-transform: capitalize;
    text-align: center;
    padding-top:37px;
}
.single-service img{
    border-radius:5px;
}
.services-area .btn.special.services{
    left:50%;
}
.button{
    text-align: center;
    margin-top:100px;
    margin-bottom:50px;
}
/* .btn.all:hover{
    background-color: #c29a5c;
    transition:.3s;
} */

/* Rooms */
.rooms-area .section-title p{
    color:#1a1a1a;
}
.rooms-area{
    margin:50px 0;
}
.rooms{
   
}
.single-room{
    margin-right:40px;
    width:350px;
    padding:24px 0;
}
.single-room h4{
    padding-top:30px;
    text-transform: capitalize;
    font-size:24px;
    line-height:36px;
    font-weight:500;
    font-family: "Playfair Display", serif;
}
.single-room a{
   
    font-size:18px;
    font-weight:500;
    text-align: left;
    color:var(--primary-color);
    text-transform: capitalize;
    font-family:"Poppins", sans-serif;
}
.single-room  i{
    padding-top:30px;
   margin-right:10px;
   font-size: 12px;
}
.single-room .button .btn.special{
    padding:0 40px;
}

/* Glimpse */
.glimpse-area{
    background-color: #1a1a1a;
}
.single-glimpse{
    width: 277px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.single-glimpse:nth-child(4),.single-glimpse:nth-child(8){
    margin-right: 0;
}
/* Contact Area */
.contact-area{
    padding:94px 0;
}
.contact-area h4,.reserve p,.single-date p,.phn p,.email p,.contact-form p{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height:32px;
    font-weight: 400;
}
.contact-area h4{
    color:var(--primary-color);
    margin-bottom: 26px;
    text-transform: uppercase;
}
.contact-info{
    width:530px;
    margin-right: 50px;
}
.reserve {
    padding-bottom: 84px;
}
.reserve h5,.time h5,.contact-device h5{
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    padding-bottom: 40px;
    color:#1a1a1a;
    font-weight: 400;
    line-height: 48px;
}
.reserve p{
    color:#5a5a5a;
}
.single-date p,.phn p,.email p{
    padding-bottom: 30px;
    color:#5a5a5a;
}
.date{
    padding-bottom: 80px;
}
.contact-form{
    width:590px;
    border:1px solid #ddd;
    padding:40px;
}
.contact-form input{
    padding:17px;
    width:100%;
    border:2px solid #ddd;
    margin: 20px 0;
}
.contact-form p{
    color:#5a5a5a;
}
.contact-form textarea{
    height:145px;
    width:100%;
    border:2px solid #ddd;
    margin: 20px 0;
}
.contact-form input[type="submit"]{
    background-color: var(--primary-color);
    font-size:18px;
    color:#fff;
    padding:20px 0;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
}
.contact-form input[type="submit"]:hover{
      background-color: #333;
}
/* Footer */
.footer-area{
    background-color: #1a1a1a;
    margin-top:50px;
}
.footer{
    padding:30px 0;
}
.footer-bottom{
    color:#fff;
    padding-bottom: 30px;
}
.footer-bottom .logo a{
  color:#fff;
  text-align: left;
}
.footer-bottom .logo{
  margin-right: 80px;
  width:380px;
   text-align: left;
}
.footer-service{
 width:178px;
 margin-right: 80px;
}
.footer-company{
  width:132px;
  margin-right: 90px;
}
.footer-contact{
  width:220px;
  text-align: left;
}
.footer-service h4,.footer-company h4,.footer-contact h4{
    text-transform: capitalize;
    font-size: 24px;
    line-height: 36px;
    font-family: "Playfair Display", serif;
    font-weight: 500;
}
.footer-bottom p{
    padding-top: 30px;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}
.footer-service a{
    transition:.3s;
    color:#fff;
}
.footer-service a:hover{
    color:var(--primary-color);
}
.footer-company a{
    color:#fff;
    transition:.3s;
}
.footer-company a:hover{
    color:var(--primary-color);
}

.footer-contact i{
    /* padding-top: 30px; */
    margin-top: 30px;
    margin-right: 10px;
    padding:12px;
    border:2px solid #fff;
    border-radius:50%;
}
.footer-contact i:hover{
   border:1px solid #ddd;
}
.footer-contact ul li{
    display:inline-block;
}
.footer-contact a{
    color:#fff;
    display:block;
}
.footer-contact a:hover{
    color:var(--primary-color);
}
.footer-last{
    border-top:1px solid gray;
    padding: 30px;
}
.footer-last p{
    font-family: Poppins, sans-serif;
    font-size: 14px;
    line-height: 25px;
    color:#fff;
}
.footer-terms p,.footer-terms span{
    text-align: right;
    font-size: 16px;
    line-height: 18px;
    font-family: Poppins, sans-serif;
}
.footer-terms span{
    margin-right: 30px;
}
.footer-theme{
    text-align: left;
}
.footer-theme p{
    color:grey;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    line-height: 28px;
}
.footer-theme span{
    font-family: Poppins, sans-serif;
    font-size: 14px;
    line-height: 28px;
    color:#fff;
}
.footer-theme span:hover{
    color:var(--primary-color);
    cursor:pointer;
}
.footer-bottom .logo{
     font-size:60px;
}
.footer-service ul li,.footer-company ul li{
    padding-top: 30px;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

/* about-page */

.banner-area.another{
    height:50vh;
}
.banner.about{
    text-transform: capitalize;
    position:relative;
    content:"";
}
.banner.about{
   position:absolute;
   content:"";
   text-align: center;
   transform: translate(-50%,-50%);
   left:50%;
   top:30%;
   width:100%;
}
.banner.about h4{
    font-family:"Playfair Display", sans-serif;
    font-size: 48px;
    line-height: 58px;
}

/* rooms */
.single-room:nth-child(3),.single-room:nth-child(6),.single-room:nth-child(9){
    margin-right: 0;
}

/* services */
.services-area.another{
    background-color: #fff;
}
.section-title.another p{
    color:#1a1a1a;
}
.services.another p{
    color:#1a1a1a;
}

/* testimonial */
.testimonial-area{}
.testimonial{}
.single-testimonial{
    width:555px;
    border:2px solid #ddd;
    margin-right: 30px;
    padding:50px 45px;
    margin-top: 30px;
}
.single-testimonial h4{
    margin:20px 0;
    line-height:29px;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color:#5a5a5a;
}
.profile img{}
.profile p{
    margin: 20px;
    line-height:30px;
    font-family:"Playfair Display", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color:#1a1a1a;
}
.profile{
    width:300px;
}
.profile span{
    line-height:18px;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:#1a1a1a;
}

/* Contact */
.contact-form.another{
  border:1px solid #ddd;
}
.contact-form.another h2{
    font-size:18px;
    line-height: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color:var(--primary-color);
    text-transform: uppercase;
}
.contact-form.another h4{
    font-size:48px;
    line-height:58px;
    font-family:"Playfair Display", sans-serif;
    text-transform: capitalize;
    color:#333;
} 
.contact-form.another h5{
    padding: 40px 0;
    color:#5a5a5a;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    font-family: "Poppins", sans-serif;
}

/* Contact */
.reserve img{
    /* padding-bottom: 25px; */
}
.single-contact-ingo h5{
  padding: 10px 0;
  font-size: 24px;
  line-height: 36px;
  font-family:"Playfair Display", sans-serif;
  font-weight: 500;
  color:#1a1a1a;
}
.contact-media p{
    padding: 15px 5px;
    color:#5a5a5a;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    font-family: "Poppins", sans-serif;
}
.contact-media span{
    padding:15px 5px;
    color:#5a5a5a;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    font-family: "Poppins", sans-serif;
}
.media{
    padding:20px;
}
.media i{
   margin-right: 20px;
   color:#5a5a5a;
   font-size: 20px;
   padding: 10px;
   line-height: 20px;
   transition: .3s;
}
.media i:hover{
   color:#fff;
   background-color: var(--primary-color);
   padding: 10px;
}
.contact-address h5{
  font-size: 24px;
  line-height: 36px;
  font-family:"Playfair Display", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  padding:25px 0;
}
.address{
 
}
.address p{
    font-size: 18px;
    line-height: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color:#5a5a5a;
}
.address i{
    margin-right: 20px;
    color:#5a5a5a;
    font-size: 18px;
    line-height: 18px;
}
.header-top-area{
    padding: 15px 0;
}
.top-header{
    width:100%;
}
.top-contact a, .top-media a{
   transition:.3s;
}
.top-contact span{
    margin:0 10px;
    font-size:14px;
    line-height:18px;
}
.top-contact a:hover{
    color:var(--primary-color);
}
.top-media a{
    margin:0 5px;
    
}
.top-media a:hover{
    color:var(--primary-color);
}
.top-email span,.top-phone span{
    margin-left: 20px;
    font-size:14px;
    line-height: 18px;
    font-family:"Poppins", sans-serif;
    font-weight:400;
    color:#5a5a5a;
}
.top-header i{
    color:#5a5a5a;
    width:30px;
}
.top-header i:hover{
    color:var(--primary-color);
}
.top-phone{
    margin-left: 20px;
}

/* Header CSS Area  */


.header-top-area {
    padding: 18px 0;
    background: var(--bg-color);
}

.header-side {
    flex-flow: row wrap;
    align-items: center;
}

.header-top-info ul {
    display: flex;
    flex-flow: row wrap;
}

.header-top-info ul li {
	margin-right: 10px;
}
.header-top-info ul li a {
    display: block;
    font-size: 17px;
    color: #ddd;
}

.header-top-info ul li a span i {
    margin: 0 10px;
}

.header-top-info ul li a:hover {
    color: var(--primary-color);
}

.header-top-social {
    display: flex;
    flex-flow: row wrap;
}

.header-top-social a {
    margin-right: 16px;
    font-size: 20px;
    color: #ddd;
}

.header-top-social a:hover {
    color: var(--primary-color);
}

.header-brand {
    padding: 15px 0;
}

.header-logo {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.header-logo a {
    margin: 0 14px;
    font-size: 24px;
    display: block;
    line-height: 36px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header-menu ul {
    display: flex;
    flex-flow: row wrap;
}

.header-menu ul li a {
    margin-right: 30px;
    font-size: 16px;
    line-height: 36px;
}

.header-menu ul li a span {
    color: var(--primary-color);
}

.header-menu ul li a:hover {
    color: var(--primary-color);
}

.header-brand {
    padding: 15px 0;
    background: #ffffff;
}

.header-icon {
    padding-top: 7px;
    display: flex;
    flex-flow: row wrap;
}

.header-icon a {
    font-size: 16px;
    display: block;
}

/* Header  CSS Area  *